* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: black;
}

.main {
    display: grid;
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: repeat(100, 1fr);
    height: 100vh;
    width: 100%;
}

.head {
    background-color: rgb(0, 0, 0);
    grid-column: 1/span 100;
    grid-row: 1/span 6;
    display: flex;
    flex-direction: row;
}

.search {
    background-color: #1F1F1F;
    border-radius: 18px;
    width: 30%;
    height: 80%;
    margin: 0.125rem;
    display: flex;
    opacity: .8;
    padding: 0.125rem;
}

.search input {
    background-color: #1F1F1F;
    border: none;
    width: 80%;
    outline: none;
    color: white;
    padding-left: .5rem;
}

.search i {
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;

}

.search:hover {
    opacity: 1;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15%;
}

.home img {
    height: 66%;
    width: auto;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    opacity: 0.8;
}

.home img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.home i {
    color: white;
    background-color: #1F1F1F;
    border-radius: 50%;
    font-size: 1.25rem;
    height: 32px;
    width: 40px;
    padding-top: 30%;
    padding-left: .5%;
    margin-top: 8px;
    opacity: 0.8;

}

.home i:hover {
    opacity: 1;
    transform: scale(1.1);
}

.head button {
    background-color: white;
    color: black;
    border-radius: 32px;
    height: 2rem;
    padding: 8px;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 350px;
    border: none;
    font-size: 0.6rem;


}

.head button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.down {
    display: flex;
    opacity: 0.8;

}

#down_btn {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 0.75rem;



}

#down_btn+label {
    color: white;
    font-size: 0.8rem;
    margin-top: 1.2rem;
    margin-left: 0.02rem;
    font-weight: 700;


}

.down:hover {
    opacity: 1;
    transform: scale(1.01);
}

#bell {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 0.75rem;
    opacity: 0.8;
}

#bell:hover {
    opacity: 1;
    transform: scale(1.02);
}

.head img {
    border-radius: 50%;
    height: 2.2rem;
    width: auto;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    opacity: 0.8;

}

.head img:hover {
    opacity: 1;
    transform: scale(1.02);
}

.sidebar {
    background-color: #121212;
    grid-column: 1/span 25;
    grid-row: 7/92;
    border-radius: 16px;
    margin: 0.5rem;
}

.lib {
    display: flex;
    color: white;
    opacity: 0.9;
    user-select: none;
}

.lib:hover {
    opacity: 1;
    transform: scale(1.02);
}

.lib img {
    height: 1.5rem;
    margin: 1rem;
}

.lib a {
    font-weight: 800;
    margin-top: 1.2rem;
}

.lib span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #1F1F1F;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin-top: 1rem;
    margin-left: 6rem;
    font-size: 1.5rem;
}

.box {
    color: white;
    background-color: #1F1F1F;
    height: 20%;
    border-radius: 5%;
    margin: 1.5rem 0.5rem;
    padding: 1.25rem 1rem;
    overflow: hidden;
    
}

.p1 {
    font-weight: 800;
    user-select: none;
      margin-top: 0.75rem;
}

.p2 {
    font-weight: 500;
    user-select: none;
      margin-top: 0.75rem;
      font-size: 0.75rem;
}

.box button {
    background-color: white;
    color: black;
    border-radius: 32px;
    height: 2rem;
    padding: 8px;
    font-weight: 700;
    margin-top: 1rem;
    border: none;
    font-weight: 0.6rem;
    
}
.box button:hover{
     opacity: 0.8;
    transform: scale(1.05);
}

.main-content {
    background-color: #111111;
    grid-column: 26/101;
    grid-row: 7/92;
    color: white;
    padding: 1rem;
    overflow: auto;
    border-radius: 16px;
    margin: 0.5rem;

}
.card-container{
    display: flex;
    flex-wrap: wrap;

}
h2{
    font-weight: 800;
    font-size: 1.3rem;
}
.card{
    background-color: #232323;
    width: 200px;
    height: 250px;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 3%;
    line-height: 1.3rem;
    transition: 0.1s ease-in;
    opacity: 0.8;
}
.card:hover{
    opacity: 1;
    transform: scale(1.01);
}
.card img{
    height: 70%;
    width: 95%;
     border-radius: 3%;
     margin-left: 0.3rem;
}
.card_title{
    font-weight: 600;
    margin-top: 0.5rem;
}
.card_info{
    font-weight: 300;
    font-size: 0.75rem;
}
.card:hover{
    transform: scale(1.02);
}
.extras{
    display: flex;
    justify-content: space-evenly;

}
.info_box{
    display: flex;
    flex-direction: column;
      line-height: 1.5rem;
      margin: 1.5rem;
}
.info_box p{
    font-weight: 700;
    
  
}
.info_box span{
    opacity: 0.8;
    font-size: 0.8rem;
}
.info_box span:hover{
    text-decoration: underline;
    opacity: 1;
}
footer{
    margin: 1rem;
    display: flex;
    font-size: small;
    justify-content: space-evenly;
    opacity: 0.8;
}
#copy{
    align-self: flex-end;
}
footer span:hover{
    opacity: 1;
    transform: scale(1.01);
    text-decoration: underline;
}


.music-player {
    background-color: black;
    grid-column: 1/101;
    grid-row: 92/101;
    display: flex;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bar{
    color: white;
    display: flex;
    justify-content: center;
    width: 500px;
    opacity: 0.9;
}
.bar input{
    width: 300px;
    margin: 0.2rem;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.bar input::-webkit-slider-runnable-track{
    background-color: #DDD;
    border-radius: 100px;
    height: 0.2rem;
}
.bar input::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.player_control{
   height: 1.3rem;
   margin: 0.5rem;
   padding: 0.25rem;
   opacity: 0.8;
    transition: 0.1s ease-in;
}
.player_control:hover{
    opacity: 1;
    transform: scale(1.01);
}
.play_btn{
     height: 2.5rem;
   margin: 0.1rem 0.4rem;
   padding: 0.25rem;
   transition: 0.1s ease-in;
}
.play_btn:hover{
    transform: scale(1.2);
}
.album{
    display: flex;
    justify-content: center;
    color: white;
    flex: wrap;
}
.album img{
    margin: 1rem ;
    border-radius: 3%;
}
.album img:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 8px #dddddd5d;
}
.song_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s_title{
    font-weight: 600;
    font-size: 1.2rem;
}
.s_subtitle{
    font-size: 0.8rem;
}
.s_subtitle:hover{
    text-decoration: underline;
}
#c_p{
    margin-top: 2rem;
    margin-left: 1rem;
    opacity: 0.7;
}
#c_p:hover{
    opacity: 1;
}



@media(max-width:450px){
   .search{
    display: none;
   }
   .home i{
    display: none;
   }
   .head button {
    background-color: white;
    color: black;
    border-radius: 32px;
    height: 2rem;
    padding: 8px;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 90px;
    border: none;
    font-size: 0.5rem;


}
.lib a{
    display: none;
   
}
.lib span{
    display: none;
}
.box{
    display: none;
}
.sidebar {
    grid-column: 1/span 18;
}
.main-content {
   grid-column: 19/101;
}
.extras{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer{
  
    display: flex;
   flex-direction: column;
    justify-content: space-evenly;
}
.album{
   display: none;
}

 .end_controls img{
        display: none;
}
.music-player{
    margin-left: 8rem;
}
}